#about{
    background: #7400b8;
    text-align: center;

}

#about img{
    width: 75%;
}
#about div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 60vh;
}
 #about p{
     width: 85%;
     font-weight: 600;
     font-size: 18px;
     letter-spacing: .7px;
 }