#beneficios{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#beneficios div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    height: 380px;
    width: 300px;

    margin-top: 10px;
}
.beneP{
    color: #000;
    font-size: 20px;
    font-weight: 400;
}
.beneImg{
    width: 170px;
}
.benefics{
    font-size: 35px;
}
@media(min-width:1000px){
    #beneficios{
        flex-direction: row;
        justify-content: space-evenly;
    }
    .beneImg{
        width: 100px;
    }
    .benefics{
        font-size: 30px;
    }
    .beneP{
        display: none;
    }
    #beneficios div{
        height: 250px;
    }
}